.thumb-style{
	border: 1px solid #ffa100;
	height: inherit;
	margin-top: 30px;
	word-wrap: break-word;

}

.heading-style{
	font-size: 30pt;
}

.li-text-style a{
	color: #FFDE00;
}

.list-element{
	border-left: 1px;
	border-right: 1px;
	border-color: transparent;
}

.list-element:hover{
	border-color: #FFDE00;
	transition: 2s;
	
}